<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Organizer Application</title>
  </head>
  <body>
    <h1>Organizing Boss</h1>
    <p>
      This is where everything is going to go.
    </p>
  </body>
</html>
