<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Organizer Application</h1>
    <p class="lead"> This is where information is going to go.</p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
